@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.menu-container {
    height: 70px;
    background-color: rgb(136, 125, 125);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    cursor: pointer;
}


.logo img {
    width: 150px;
}


.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 20px;
    text-transform: capitalize;
    background-color: rgb(255, 17, 0);
    border: none;
}



.menu li a{
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 5px;
}

.menu li a:hover {
    background-color: brown;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px rgb(117, 235, 7), -0px -0px 10px rgb(22, 231, 68);
}

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.home-left-side h1 {
    text-transform: capitalize;
    font-size: 40px;
}

.home-left-side p {
    font-size: 18px;
    margin: 20px 0;
}

.btn {
    text-transform: capitalize;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.15s;
}

.btn:hover {
    background-color: chartreuse;
    color: #000;
    box-shadow: 0px 0px 5px #fff, -0px -0px 5px #fff;
}


.home-right-side img {
    width: 300px;
}

.about-us {
    padding: 2cqmax 0;
    display: flex;
    justify-content: space-around;
}
.about h2 {
    padding: 30px 0;
    font-size: 50px;
    text-align: center;
}
.about-left-side img {
    width: 300px;
}

.about-right-side h3{
    font-size: 25px;
}

.about-right-side p{
    font-size: 18px;
    margin: 20px 0;
}

.box-btn{
    padding: 15px 30px;
    font-size: 18px;
    background-color: rgb(241, 136, 7);
}

.box-btn:hover {
    box-shadow: 0px 0px 5px #f70707, -0px -0px 5px #ff0000;
}

.services {
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    background-repeat: no-repeat;
    background-size: cover;
}

.services-heading {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 50px 0 40px 0;
}

.services-container{
    display: flex;
    justify-content: space-around;
}
.services-box {
    width: 250px;
    background-color: rgb(75, 3, 3);
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 4px 4px 15px  gray, -4px -4px 15px gray;
}

.services-box:hover {
    box-shadow: 4px 4px 15px yellow, -4px -4px 15px yellow;
}
.services-box img{
    width: 80px;

}

.services-box h3 {
    text-transform: capitalize;
    font-size: 25px;
    padding: 20px
}

.services-box p {
    font-size: 14px;
}

.services-btn {
    margin: 20px 0 10px 0;
    justify-content: center;
}

footer {
    background-image: url(./asset/image/footer-bg.png),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

footer h6 {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

hr {
    height: 1px;
    width: 80%;;
    margin: 0 auto 20px;
    border: 0.1px solid gray;
}
.footer-container {
    display: flex;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 90px 0;
}

.footer-container li {
    font-size: 14px;
}
.box1 li {
    margin-bottom: 10px;
    margin-top: -2px;
}
.box1 img {
    width: 150px;
    margin-bottom: 30px;
}

.box1-list li {
    list-style-type: none;
}

.footer-heading {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.footer-list li{
    list-style-type: none;
    margin-bottom: 20px !important;
}